.app-wrapper {
  display: grid;
  grid-template-rows: 5%;
  grid-template-columns: 33% 33% 33%;
  width: 99vw;
  height: 99vh;
  background-color: rgb(255, 255, 255);
}

.header.item-1 {
  grid-column: 1/6;
  text-align: center;
}

.chat-history.item-2 {
  grid-column: 2/3;
  position: relative;
  display: flex;
  z-index: 1;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  min-height: 10em;
  max-height: 74em;
  margin-bottom: auto;
}

.chat-bar.item-3 {
  grid-row: 6/6;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 1em;
  z-index: 100;
}