#root {
  width: fit-content;
  height: fit-content;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}

.chat-bot-wrapper {
  display: flex;
  flex-direction: column;
  background: transparent;
  height: 75em;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* background-color: blueviolet; */
  overflow: hidden;
  overflow-anchor: none;
  padding: .5em;
}

.app-grid-1 {
  /* background-color: chartreuse; */
  position: relative;
  display: flex;
  z-index: 1;
  align-items: flex-start;
  justify-content: start;
  width:99%;
  min-height: 10em;
  max-height: 74em;
  overflow-y: scroll;
  overflow-anchor: none;
  margin-bottom: auto;
}

.app-grid-2 {

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 1em;
  z-index: 100;
}
