#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.chat-bot-wrapper{
  display: grid;
  grid-template-rows: 10% 57% 25%;
  grid-template-columns: 100% ;
  background-image: url("../images/chadz.png");
  background-attachment: fixed;
  background-position: center; 
  background-color: red;
  background-size: 27%;
  background-repeat: no-repeat;
  background-position-x: 42em;
  background-position-y: 22.5em;
  height: 40vh;
  width: 15vw;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  overflow: hidden;
  align-items: center;
  justify-content: start;
  justify-items: center;
  row-gap: .8em;
}

.app-grid-1{
  background: linear-gradient(24deg, rgba(232,0,32,1) 0%, rgba(190,0,21,1) 75%, rgba(181,0,17,1) 100%);
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-weight: 900;
  font-style: italic;
  font-size: xx-large;
  width: 100%;
  height: 100%;
  margin-bottom: 0%;
  margin-top: 0%;
 }

 .app-grid-2{
  grid-row: 2;
  background-color: transparent;
  height: 100%;
  width: 90%;
}

.app-grid-3{
  display: flex;
  flex-direction: row;
  grid-row: 3;
  align-items: center;
  justify-content: space-between;
  height:100%;
  width: 90%;
}
