.submit-stopwatch {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  font-size: medium;
  border-radius: .3em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(24deg, rgba(232, 0, 32, 1) 0%, rgba(190, 0, 21, 1) 75%, rgba(181, 0, 17, 1) 100%);
  font-weight: 900;
  color: white;
  width: 95%;
  height: 30%;
}