.toggle-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 40%;
  }
  
  .option {
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-size:160%;
    background-position-x: -3.1em;
    background-position-y: -.1em;
    background-repeat: no-repeat;
    border-style: none;
    
  }
  
  /* Color variations based on selected option */
.option-1 {
    background-color: #4CAF50; /* Green */
  }
  
.option-2 {
    background-image: url("../images/chadz.png");
  }
  
.option-3 {
    background-color: #F44336; /* Red */
  }
  

  